<ol>
  <li>signup for heroku</li>
  <li>heroku login</li>
  <li>foreman start</li>
  <li>heroku create</li>
  <li>git push heroku master</li>
  <li>heroku ps:scale web=1</li>
  <li>heroku open</li>
</ol>