<html>
<head>
  <title>Hello, World</title>
  <style>
    a {
      color: thistle;
    }
    ol {
      font-family: monospace;
      font-size: 36pt;
      color: white;
    }
    li:before {
      content: "> ";
    }
    body { background-color: black; }
  </style>
</head>

<body>
<%= yield %>
</body>
</html>